<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Administração | Happy</title>

  <link rel="icon" href="/images/logo-icon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/administration.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="administration">
    <aside class="animate-right">
      <header>
        <img src="/images/map-marker.svg" alt="Happy" />

        <h2>Essa é sua página para administrar os orfanatos cadastrados</h2>

        <p>Você pode editar as informações de um ou mais orfanatos ou deletá-los. Não esqueça de configurar sua cidade e
          estado através das configurações</p>
      </header>

      <main>
        <div class="settings-box">
          <a href="/settings"><img src="/images/settings.svg" alt="Configurações">Configurações</a>

        </div>
      </main>

      <footer>
        <strong>Sua cidade</strong>

        <p>Seu estado</p>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar body-main">

      <h1>Lista de Orfanatos</h1>

      <div class="orphanage-list">
        
        {{#each orphanages}}
          <div class="orphanage-list-item">
            <p>{{this.name}}</p>

            <div class="management-items">
              <a href="/edit-orphanage?id={{this.id}}">
                <span class="edit-item">
                  <img src="/images/edit.svg" alt="Editar" title="Editar">
                </span>
              </a>
              <a href="/delete-orphanage?id={{this.id}}">
                <span class="delete-item">
                  <img src="/images/remove-file.svg" alt="Deletar" title="Deletar">
                </span>
              </a>

            </div>

          </div>
        {{/each}}  

      </div>

    </main>

  </div>


</body>

</html>